.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.svg
*.png
*.emf
graphs/
Documents/
.httr-oauth
.Rprofile
biSBM groups ouput.Rmd
biSBM-groups-ouput.docx
*.zip
*DELL-7XP58Y2*
!Documents/new_pdfs/*
*.Rproj